@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,500,400italic,500italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.app-container {
    height: 100%;
}

/**
 * Landing page
 */

.landing-layout {
    background: url(../images/cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-login-card {
    text-align: center;
    opacity: 0.9;
}

#social-login-form {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

#social-login-form a {
    min-width: 200px;
}

.social-facebook:not([disabled]):hover {
    background-color: #4c70ba !important;
}

.social-twitter {
    background-color: #0084b4 !important;
}

.social-twitter:not([disabled]):hover {
    background-color: #00a9e7 !important;
}

.social-google-plus {
    background-color: #d34836 !important;
}

.social-google-plus:not([disabled]):hover {
    background-color: #dc6e60 !important;
}

/**
 * Navbar
 */

.navbar-airbnb {
    min-height: 0;
}

.navbar-airbnb-toolbar-tools {
    height: 52px;
    max-height: 52px;
}

.img-navbar {
    max-height: 35px;
    margin: 0 5px;
    display: inline-block;
}



.social,
.social md-icon {
    color: #fff !important;
}

.social-facebook {
    background-color: #3b5998 !important;
}

.criteria-builder-container md-input-container {
    width: 300px;
    margin: 18px 0 8px 0;
}

.criteria-builder-container mdp-date-picker {
    width: 280px !important;
}

.criteria-builder-container mdp-date-picker md-input-container {
    width: 260px;
    margin: 18px 0 0 0;
}

.w300 {
    width: 300px;
}

.w196 {
    width: 196px;
}

.w100 {
    width: 100px;
}

.fz14 {
    font-size: 14px;
}

md-toast {
    margin-top: 50px;
}

.offer-card md-card-title {
    padding: 16px;
}

.offer-card > .md-card-image {
    max-height: 187px;
}

.pac-container.pac-logo::after {
    display: none;
}

.offer-rating md-icon {
    font-size: 18px;
    color: gold;
    width: 12px;
}