<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

    <title>Airbnb Buddy</title>

    <!-- Concatenated CSS -->
    <link href="/dest/lib.css?rev=50d96cd626824c3da380cf584c0776a0" rel="stylesheet">
    <link href="/dest/app.css?rev=f20eb498dfab79f3ca47421975848e28" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="airbnb-buddy-frontend" ng-cloak class="ng-cloak" ng-class="{'landing-layout' : !authenticated}">

<div class="app-container" ng-controller="AuthController" ng-show="showapp" layout="column">
    <navbar ng-if="authenticated"></navbar>
    <div ng-show="authenticated" flex layout>
        <div ui-view ng-if="authenticated" flex layout></div>
    </div>
    <landing-page ng-if="!authenticated" flex layout></landing-page>
</div>

<!-- Location autocomplete in criteria-builder -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr8QekWMSGHNTSdm9JYgiX_z92uzL-4J4&libraries=places"></script>
<!-- Concatenated libraries -->
<script src="/dest/lib.js?rev=58cfbd843b27bd1497603c994ce4f411"></script>
<!-- Concatenated application -->
<script src="/dest/src.js?rev=0a9a44302fee55ea4626b78226c3c569"></script>
<!-- All html templates -->
<script src="/dest/templates.js?rev=82473171b4369ec079661c70e3cc285a"></script>
</body>
</html>
