<div id="main-login-card" flex layout="column" layout-align="center center">
    <md-card class="md-padding">

        <md-card-title style="padding: 0; text-align: center">
            <md-card-title-text>
                <h1>Airbnb Buddy</h1>
            </md-card-title-text>
        </md-card-title>

        <p>Never miss a great deal on Airbnb again. <br /> Airbnb Buddy will notify you every time a great deal is available for your criteria.</p>

        <div id="social-login-form">
            <div>
                <md-button ng-href="/auth/facebook" class="md-raised social social-facebook">
                    <md-icon md-svg-src="images/social/facebook-box.svg"></md-icon>
                    Sign in with Facebook
                </md-button>
            </div>

            <div>
                <md-button ng-href="/auth/google" class="md-raised social social-google-plus">
                    <md-icon md-svg-src="images/social/google-plus-box.svg"></md-icon>
                    Sign in with Google
                </md-button>
            </div>

            <div>
                <md-button ng-href="/auth/twitter" class="md-raised social social-twitter">
                    <md-icon md-svg-src="images/social/twitter-box.svg"></md-icon>
                    Sign in with twitter
                </md-button>
            </div>
        </div>

        <div>

    </md-card>
</div>