<md-toolbar class="navbar-airbnb">
    <div class="md-toolbar-tools navbar-airbnb-toolbar-tools">
        <md-button href="#/">Airbnb Buddy</md-button>
        <md-button href="#/criteria-list">Criteria List</md-button>
        <span flex></span>
        <img class="img-navbar" ng-src="{{currentUser.imageUrl}}"><h5 class="m0">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
        <md-menu md-offset="0 52">
            <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="openUserInfoModal()">
                        Settings
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logout()">
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>