<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap layout-align="center start">
    <div flex="100" layout layout-align="center">
        <span style="margin: 10px 10px 0 0;">Sort by:</span>
        <md-select ng-model="sort" ng-change="init()" style="margin-top: 0;">
            <md-option ng-repeat="s in ['rating', 'price']" ng-value="s">
                {{s | capitalize}}
            </md-option>
        </md-select>
    </div>
    <md-card flex="15" layout="column" ng-repeat="offer in offers | limitTo: pagination.limit : (pagination.page - 1) * pagination.limit" class="offer-card">
        <img ng-src="{{offer.picture_url}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span><strong>{{ offer.name }}</strong></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div flex layout layout-md="column">
                <div class="offer-rating" flex="50">
                    <span ng-repeat="star in getStars(offer) track by $index">
                        <md-icon ng-if="star === 'full'">star</md-icon>
                        <md-icon ng-if="star === 'half'">star_half</md-icon>
                    </span>
                </div>
                <div flex="50" style="text-align: end;">
                    <strong>{{ offer.price }} {{ offer.priceCurrency }}</strong>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <div flex><md-icon style="">mode_comment</md-icon><span class="fz14">{{offer.reviews_count}}</span></div>
            <md-button class="md-primary" ng-href="https://www.airbnb.com/rooms/{{offer.airbnbId}}" target="_blank">View on Airbnb</md-button>
        </md-card-actions>
    </md-card>
    <md-table-pagination flex="100" md-limit="pagination.limit" md-page="pagination.page" md-total="{{total}}" md-page-select></md-table-pagination>
</md-content>