<md-dialog ng-cloak class="add-modal-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Notification settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div style="width: 400px;"></div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container flex>
                    	<label>Email</label>
                    	<input type="email" ng-model="userInfo.email">
                    </md-input-container>
                    <md-input-container flex>
                    	<label>Notification frequency</label>
                    	<md-select ng-model="userInfo.notificationFrequency">
                    		<md-option ng-repeat="freq in ['HOURLY', 'DAILY']" value="{{freq}}">
                    			{{freq | capitalize}}
                    		</md-option>
                    	</md-select>
                    </md-input-container>
                    <div ng-show="error" layout layout-align="center center" style="color: red;">{{error}}</div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="save()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>