<md-input-container>
	<label>{{name | capitalize}}</label>
    <md-select ng-model="ngModel" aria-label="select option">
        <md-option ng-repeat="e in enums" value="{{e}}">
            {{e}}
        </md-option>
    </md-select>
</md-input-container>