<md-content layout="column" flex>
	<md-card>
		<md-toolbar class="md-table-toolbar md-default">
			<div class="md-toolbar-tools">
				<span>Criteria List</span>
			</div>
		</md-toolbar>

		<md-table-container ng-show="loaded">
			<table md-table>
				<thead md-head>
					<tr md-row>
						<th md-column ng-repeat="f in criteriaFields">{{f | capitalize}}</th>
						<th md-column class="w100">View offers</th>
						<th md-column class="w100">Delete criteria</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row ng-repeat="c in criterias">
						<td md-cell ng-repeat="f in criteriaFields">{{getParam(c, f)}}</td>
						<td md-cell><md-button class="md-raised md-primary" href="#/offers/{{ c.id }}">View {{c.offersCount}} offers</md-button ></td>
						<td md-cell><md-button class="md-raised md-accent" ng-click="deleteCriteria(c)">Delete criteria</md-button ></td>
					</tr>
				</tbody>
			</table>
		</md-table-container>

		<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{total}}" md-on-paginate="init" md-page-select></md-table-pagination>
	</md-card>
</md-content>