<md-card>
    <div layout flex layout-align="center center">
        <md-input-container class="w300">
            <label>Location</label>
            <input vs-google-autocomplete="{ types:['(cities)'] }"
                ng-model="city" 
                type="text" 
                vs-city="criteria['location']"
                placeholder="">
        </md-input-container>
    </div>
</md-card>

<md-card>
    <div layout flex layout-align="center center">
        <md-input-container class="w196">
            <label>Criteria</label>
            <md-select ng-model="criteriaSelect">
              <md-option ng-repeat="c in criteriaFields" ng-value="{{c}}" ng-disabled="isSelected(c.name)">
                {{c.name | capitalize}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addCriteria()" ng-disabled="criteriaSelect === undefined">Add</md-button>
</div>
<div flex layout="column" layout-align="center center">
    <div ng-repeat="c in criterias" class="criteria-builder-container" flex layout="row">
        <div flex="85">
            <criteria-string ng-if="c.type == 'string'" ng-model="criteria[c.name]" name="c.name"></criteria-string>
            <criteria-date ng-if="c.type == 'date'" ng-model="criteria[c.name]" name="c.name"></criteria-date>
            <criteria-enum ng-if="c.type == 'enum'" ng-model="criteria[c.name]" name="c.name"
            enums="c.enums"></criteria-enum>
            <criteria-number ng-if="c.type == 'number'" ng-model="criteria[c.name]" name="c.name" from="c.from" to="c.to"
            step="c.step"></criteria-number>
        </div>
        <div flex="15" layout-align="center center" layout>
            <md-button class="md-icon-button md-accent" aria-label="Delete criteria" ng-click="removeCriteria(c.name)">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </div>
</div>
</md-card>

<div flex layout layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="disableCriteriaButton()">Submit</md-button>
</div>